<ion-pane ng-controller="SelectAddressController">
    <ion-content scroll="false">
        <div style="height: 100%">
            <div class="row border-bottom padding-vertical padding-right" style="padding-left:0px;">
                <div ng-click="cancel()" class="col-20 col-center  text-center gray"><i class="icon  ion-chevron-left"></i>&nbsp;返回</div>
                <div class="col-80">
                    <label class="item item-input item-input-wrapper" style="padding: 0px 0px 0px 5px;">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" ng-change="search()" id="J_search_input" focus-auto ng-model="keyword.text" class="input-small" placeholder="输入地点可以搜索">
                    </label>
                </div>
            </div>
            <ion-scroll zooming="false" direction="y" on-scroll="alert()" style="position: absolute;top: 52px;bottom: 0px;left:0px;right:0px;">
                <ul class="list address-list">
                    <li class="list-item padding-horizontal" ng-show="poilist.length==0&&keyword.text!=''">
                        <div class="padding5">
                            <div class="f14 gray text-center">加载中....</div>
                        </div>
                    </li>
                    <!--<li class="list-item padding-horizontal" ng-show="poilist.length==0&&keyword.text==0">-->
                        <!--<div class="padding5">-->
                            <!--<div class="f14 gray text-center">没有搜索结果。</div>-->
                        <!--</div>-->
                    <!--</li>-->

                    <li class="list-item padding-horizontal"  ng-show="poilist.length==0&&keyword.text==''">
                        <div class="padding5">
                            <div class="f14 gray  text-center">请输入关键字进行搜索</div>
                        </div>
                    </li>
                    <li class="list-item padding-horizontal" ng-click="active(item,$index)" ng-class="{true: 'active'}[item.active]" ng-repeat="item in poilist">
                        <div class="border-bottom padding5" >
                            <div class="f14 dark" ng-bind="item.name"></div>
                            <div class="f12 gray" ng-bind="item.address"></div>
                        </div>
                    </li>
                </ul>
            </ion-scroll>
        </div>
    </ion-content>
</ion-pane>
